.wrapper {
  display: block;
}

.half {
  flex-basis: calc(50% - 5px);
}

.full {
  flex-basis: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 8px 11px;
  box-shadow: 0px 0px 0px 1px #5B6178;
  border-radius: 6px;
  background-color: #181F30;
}

.container:focus-within {
  box-shadow: 0px 0px 0px 1px #663CDD;
  transition: all 0.2s;
}

.container input {
  flex: 1;
}

.unit {
  color: #E9EAF6;
  font-family: "Bai Jamjuree";
  font-size: 14px;
  font-weight: 300;
}


